body {
	background-color: black;

}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1 {
  background-image: url("https://static.pexels.com/photos/279719/pexels-photo-279719.jpeg"); /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left, Purple, Blue), url('https://static.pexels.com/photos/279719/pexels-photo-279719.jpeg'); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, Purple, Blue), url('https://static.pexels.com/photos/279719/pexels-photo-279719.jpeg'); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, Purple, Blue),url('https://static.pexels.com/photos/279719/pexels-photo-279719.jpeg') ; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, Purple, Blue), url('https://static.pexels.com/photos/279719/pexels-photo-279719.jpeg') ; /* Standard syntax (must be last) */
  min-height: 100%;
}


.headline {
	font-family: 'Eczar', serif;
	font-size: 48px;
	text-align: center;
	color: white;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
	
	
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
	
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
