body {
	font-family: sans-serif;
	

}

body, html {
  height: 100%;
  max-width: 100%;
  margin: 0;
}

.bgimg-1{
  background: url('https://static.pexels.com/photos/34150/pexels-photo.jpg'); /* For browsers that do not support gradients */  
  background: -webkit-linear-gradient(left, blue, purple)url('https://static.pexels.com/photos/34150/pexels-photo.jpg'); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, purple), url('https://static.pexels.com/photos/34150/pexels-photo.jpg'); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, purple), url('https://static.pexels.com/photos/34150/pexels-photo.jpg'); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue, purple), url('https://static.pexels.com/photos/34150/pexels-photo.jpg'); /* Standard syntax */
  background-blend-mode: overlay;  
  min-height: 100%;
  background-size: cover;
}

.bgimg-2 {
  background-color: white;
  min-height: 100%;
  background-size: cover;
}

.bgimg-3 {
  background: url('https://static.pexels.com/photos/37727/pexels-photo-37727.png'); /* For browsers that do not support gradients */  
  background: -webkit-linear-gradient(left, blue, purple)url('https://static.pexels.com/photos/37727/pexels-photo-37727.png'); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, blue, purple), url('https://static.pexels.com/photos/37727/pexels-photo-37727.png'); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, blue, purple), url('https://static.pexels.com/photos/37727/pexels-photo-37727.png'); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, blue, purple), url('https://static.pexels.com/photos/37727/pexels-photo-37727.png'); /* Standard syntax */
  background-blend-mode: overlay;  
  min-height: 400px;
  background-size: cover;
  
}

.bgimg-4 {
	 background-color: white;
	 min-height: 400px;
     background-size: cover;
}

.bgimg-5 {
    background-color: black;
	 min-height: 400px;
     background-size: cover;
	
}

.about {
	color: black;
	font-family: 'Eczar', serif;'
	text-align: center;
	font-size: 100%;
	font-size: 24px;
	display: inline-block;
}

.headline {
	font-family: 'Eczar', serif;
	font-size: 48px;
	text-align: center;
	letter-spacing: 2px;
	color: white;
	left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;	
}

.sub {
	text-align: center;
	color: white;
	font-size: 24px;
	position: absolute;
	left: 0;
	margin: auto;
	top: 60%;
	width: 100%;
}



	#mission { 
	text-align: center;
	font-family:Eczar,serif;
	font-size:36px;
	color: white;
	padding: 40px;
	}
	
	.mission {
		font-size: 20px;
		font-weight: normal;
		color: white;
		text-align: center;
		font-family:Eczar, serif;
		padding: 30px 90px;
		
	}
	
.icon-1 {
	position: absolute;
	margin: auto;
	text-align: justify;
	font-size: 24px;
	left: 10%;
	}
	
	.icon-1 img p {
		display: block;
		 margin: 0 auto;
		 font-size: 0px;
	}
	
	.icon-1 p { 
	width: 400px;
    padding: 0px;
    border: 0px solid white;
    margin: 0;
	position: relative;
	right: 20px;
	font-size: 20px;
	text-align: left;
	}

	.icon-2 {
	position: absolute;
	margin: auto;
	text-align: justify;
	font-size: 24px;
	left: 73%;
}

	.icon-2 img p {
		display: block;
		 margin: 0 auto;
		 font-size: 0px;
	}
	
	.icon-2 p { 
	width: 400px;
        padding: 0px;
	margin: 0;
        border: 0px solid white;
	position: relative;
	right: 20px;
	font-size: 20px;
	text-align: left;
	}


.icon-3 {
	position: absolute;
	margin: auto;
	text-align: justify;
	font-size: 24px;
	left: 43%
}

.icon-3 img p {
	display: block;
	 margin: 0 auto;
	 font-size: 0px;
}

.icon-3 p { 
	width: 400px;
    padding: 0px;
    border: 0px solid white;
	position: relative;
	right: 20px;
	font-size: 20px;
	text-align: left;
	}
	
.icon-1 img {
	width:200px;
	height:auto;
}

.icon-2 img {
	width:200px;
	height:auto;
}

.icon-3 img {
	width:200px;
	height:auto;
}


.sidenav {
    height: 100%;
    width: 0;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
	
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
font-size: 35px;	
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    font-size: 32px;
}

.button1 {
	font-family: 'Eczar', serif;
    background-color: #8A2BE2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Eczar, serif;
    border-radius: 12px;
    margin-top: 60px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: rgb(0, 0, 0, .5); /* Green */
    color: white;
}

.button1:active {
  box-shadow: 0 2px #666;
  transform: translateY(10px);
  transform: translateX(2px);
}

#icon-container {
  position:relative;
    bottom:-150px;
	margin-left: 850px;
	border: 0;
}

#social {
	position: relative;
	bottom: -150px;
	text-align: center;
	letter-spacing: 2px;
}

#madeby {
	font-size: 12px;
	color: white;
	position:relative;
    bottom:-300px;
	text-align: center;
	letter-spacing: 2px;
	font-style: italic;
}

a {
	text-decoration: none;
}

.socicon1 {
	margin-right: 1%;
}
.socicon1:hover {
	filter: hue-rotate(180deg);
-webkit-filter: hue-rotate(180deg);
}

.socicon2 {
	margin-right: 1%;
}
.socicon2:hover {
	filter: hue-rotate(180deg);
-webkit-filter: hue-rotate(180deg);
}

.socicon3 {
	margin-right: 1%;
}
.socicon3:hover {
	filter: hue-rotate(180deg);
-webkit-filter: hue-rotate(180deg);
}
.socicon4 {
	margin-right: 1%;
}
.socicon4:hover {
	filter: hue-rotate(180deg);
-webkit-filter: hue-rotate(180deg);
}
	


.ctform {
	font-size: 18px;
	font-weight: normal;
	color: black;
	text-align: center;
	font-family:Eczar, serif;
	padding: 5px;
	margin-top: 20px;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 2em;
  border: 1px solid transparent;
  border-radius: 1em;
  margin-right: 40%;
  margin-top: -20px;
}

form div + div {
  margin-top: 1.5em;
  
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 0;
  text-align: right;
  color: white;
}

#mail, #yourname {
	height: 2em;
}

input, textarea {
	
  font: 1em sans-serif;
  resize: none;
  width: 600px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top; height: 7em;
}

.button {
  padding-left: 5px; /* same size as the label elements */
}

button {
   margin-left: 37em;
  border-radius: 12px;
  background-color: #8A2BE2;
    border: none;
    color: white;
    padding: 15px 32px;
  
}

/* Media Queries */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media (max-width: 480px) {

body { font-size: 16px; -webkit-text-size-adjust: none;}
	.headline { font-size: 24px; width: 100%;}
	.sub {font-size: 16px;}
	.icon-1 {width: 1px; margin: 0; left: 30px; position: relative; font-size: 10px; margin-top: 10px;}
	.icon-2 {width: 1px; margin: 0; left: 30px; position: relative; font-size: 10px; margin-top: 20px;}
	.icon-3 {width: 1px; margin: 0; left: 30px; position: relative; font-size: 10px; margin-top: 30px;}
	
	
	.icon-1 p {width: 350px; font-size: 12px;} .icon-1 img {width:150px;}
	.icon-2 p {width: 350px; font-size: 12px;} .icon-2 img {width:150px;}
	.icon-3 p {width: 350px; font-size: 12px;} .icon-3 img {width:150px;}
	input, textarea {width: 98.9%;}
	button {margin-left: 22em;}
	form {width: 375px; margin-right:47%}
	#icon-container {margin-left: 107px;}
	

}


@media only screen and (max-width: 768px)
and (orientation : landscape) {
	html, body {width: 100%;}
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
	.icon-1 {left: 0;} .icon-1 h1 {font-size:16px;}  
	.icon-2 {left: 71.5%;} .icon-2 h1 {font-size:16px;} 
	.icon-3 {left: 41%;} .icon-3 h1 {font-size:16px;}
	.icon-1 img {width:90px;} .icon-2 img {width:90px;} .icon-3 img {width:90px;}
	
	#icon-container {right:50%;}
	
	.headline { font-size: 24px; width: 100%;}
	.sub {font-size: 16px;}
	
	.icon-1 p {width: 190px; font-size: 12px; right: 30px;} 
	.icon-2 p {width: 190px; font-size: 12px; right: 30px;}
	.icon-3 p {width: 190px; font-size: 12px; right: 30px;}

	#icon-container {margin-left: 500px; right: 250px;}
	#madeby {right: 13.5px; bottom: -275px;}
	input, textarea {width: 98.9%;} form {width: 400px; margin-right:17.7%;}
	button {margin-left: 26.5em;}
}

@media only screen 
	and(min-width: 768px)
	and(max-width: 1024px)
	and (orientation : portrait) {
	
	 html, body {width: 100%;}
	
	.icon-1 {left: 10%;} .icon-1 h1 {font-size:16px;}  
	.icon-2 {left: 71.5%;} .icon-2 h1 {font-size:16px;} 
	.icon-3 {left: 41%;} .icon-3 h1 {font-size:16px;}
	.icon-1 img {width:125px;} .icon-2 img {width:125px;} .icon-3 img {width:125px;}
	
	.icon-1 p {width: 190px; font-size: 12px; right: 30px;} 
	.icon-2 p {width: 190px; font-size: 12px; right: 30px;}
	.icon-3 p {width: 190px; font-size: 12px; right: 30px;}
	
		.bgimg-2 {min-height: 50%; max-height: 50%;}
		#icon-container {margin-left: 500px; right: 195px;} #main {font-size: 40px;}
		form {width: 400px; margin-right:30%;} button {margin-left: .1em;}
		.sidenav a {font-size: 30px;}
		
}

 @media only screen 
	and(min-width: 768px)
	and(max-width: 1024px)
	and (orientation : landscape) {
	
	 html, body {width: 100%;}
	
	.icon-1 {left: 10%;} .icon-1 h1 {font-size:16px;}  
	.icon-2 {left: 71.5%;} .icon-2 h1 {font-size:16px;} 
	.icon-3 {left: 41%;} .icon-3 h1 {font-size:16px;}
	.icon-1 img {width:125px;} .icon-2 img {width:125px;} .icon-3 img {width:125px;}
	
	.icon-1 p {width: 190px; font-size: 12px; right: 30px;} 
	.icon-2 p {width: 190px; font-size: 12px; right: 30px;}
	.icon-3 p {width: 190px; font-size: 12px; right: 30px;}
	
	.bgimg-2 {min-height: 75%; max-height: 75%;}
	#icon-container {margin-left: 630px; right: 200px;} #main {font-size: 40px;}
	form {width: 400px; margin-right:35%;} button {margin-left: .1em;}
	.sidenav a {font-size: 30px;}
		
}

@media only screen
    (min-width: 1200px)
and (max-width: 1920px){
	    html, body {width: 100%;}
}
